| You've been invited to join #{@group.name}

| Hi there!

| #{@invited_by.display_name} has invited you to join the group "#{@group.name}" on Splitwise.

| Sign up here: #{@signup_url}

| After signing up, you'll automatically be added to the group.

| Thanks,
| The Splitwise Team
