| You've been added to #{@group.name}

| Hi #{@member.display_name}!

| #{@added_by.display_name} has added you to the group "#{@group.name}" on Splitwise.

| View the group here: #{@group_url}

| Thanks,
| The Splitwise Team
